body{
    font-family: Tahoma;
    color: #444;
    letter-spacing: 1px;
}

h1{
    font-weight: normal;
}

#wrapper{
    width: 80%;
    margin: 20px auto;
    border-radius: 6px;
    box-shadow: 0px 1px 6px rgba(0,0,0,0.2);
    box-sizing: border-box;
    padding: 0 0 20px;
    overflow: hidden;
    border: 1px solid lightgray;
    
}

#page-banner{
    background: #eee ;
    padding: 10px 0;

}

#page-banner h1{
    width: 100%;
    text-align: center;
    margin: 10px 0;
}

#task-list{
    height: 100%;
}

#task-list::-webkit-scrollbar {
    display: none;
}

#task-list, #add-task, #tabbed-content{
    margin: 30px;
}

#task-list ul, #tabbed-content ul{
    list-style-type: none;
    padding: 0;
    
}

#task-list li{
    padding: 20px;
    border-left: 5px solid #ddd;
    margin: 20px 10px;
}

#task-list li:hover{
    border-color: #9361bf;
}

/* ul{
  overflow: scroll;
} */
  
.emoji{
    float: right;
    border-radius: 4px;
    cursor: pointer;
}

  * {
    box-sizing: border-box;
  }
  
  input {
    width: 50%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    margin: 10px 0;
  }
  
  .submitButton {
    background: #9361bf;
    color: white;
    padding: 12px 20px;
    font-size: 16px;
    margin: 10px 0;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
  }
  
  .submitButton:hover {
    background: #9361bf;
  }
  
  .container {
    border-radius: 5px;
    padding: 20px;
    text-align: center;
  }
  
  /* .inputSize {
    float: left;
    width: 75%;
    margin-top: 6px;
  } */
  
  /* @media screen and (max-width: 600px) {
     .inputSize, .submitButton {
      width: 100%;
      margin-top: 0;
    }
  } */